/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#ffffff;
	--color-background:#eee;
	--font-site:'Catamaran'
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
@font-face {
	font-family: 'Catamaran';
	src: url('../assets/catamaran-variablefont_wght.ttf');
}

* {
	margin: 0;
}

body {
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
    background-size: cover; /* De afbeelding schalen om de hele achtergrond te bedekken */
    max-width: 100%;
    overflow-x: hidden;
}

.toad{
	background-image: url(../image/download.gif);
	background-repeat: repeat;
}

img {
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, button{
	color: var(--color-text);
	font-family: var(--font-site);
}

.header1 {
	display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ac000d;
    height: 55px;
    background-color: #e60012;
    padding-left: 30px;
    padding-right: 30px;
}

.header2 {
	background-image: repeating-linear-gradient(-45deg,#302f2f,#302f2f 6px,#2a2929 0,#2a2929 12px);
	display: flex;
	padding: 0.5em;
	justify-content: center;
}

.header2 :first-child {
	background-color: transparent;
    border: none;
	font-size: 0.8em;
	font-weight: 300;
}

.header2 :nth-of-type(2){
	background-color: transparent;
	border-style: solid;
	border-color: white;
	border-radius: 0.4em;
	padding: 0.7em
}

.signup a {
	font-size: 0.9em;
	font-weight: 600;
	text-decoration: none;
	background:none;
	color: white;
	margin: 0;
	padding: 0;
	border-style: none;
}

.signup img {
	max-height: 1.3em;
}

.intro {
	text-align: center;
	margin-bottom: 27.6em;
}

.intro p {
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 2em;
	line-height: 1.3em;
	font-weight: 300;
}

.whitecard {
	background-image: repeating-linear-gradient(-45deg,#fff,#fff 6px,#fafafa 0,#fafafa 12px);
    border-radius: 16px;
    color: #000;
    padding: 40px 32px;
    margin: 16px auto 44px;
    text-align: left;
	margin-left:0.5em;
	margin-right:0.5em;
}

.whitecard p,h3{
	color: black;
}










header img {
	max-height: 1.5em;
}

a {
	text-decoration: none;
	background-color: white;
	color: black;
	border: white;
	border-style: solid;
	border-color: white;
	border-radius: 5em;
	padding: 0.7em 1.3em 0.7em 1.3em;
	font-weight: 800;
}

.redbutton {
	text-decoration: none;
	background-color: #e60012;
	color: white;
	border: #e60012;
	border-style: solid;
	border-color: #e60012;
	border-radius: 5em;
	padding: 0.4em 1.3em 0.4em 1.3em;
	font-weight: 800;
	font-size: 0.8em;
}

.darkbutton {
	text-decoration: none;
	background-color: rgb(52, 52, 53);
	color: white;
	border-style: solid;
	border-color: rgb(52, 52, 53);
	border-radius: 5em;
	padding: 0.4em 1.3em 0.4em 1.3em;
	font-weight: 800;
	font-size: 0.8em;
}

a img {
	max-height: 0.7em;
	margin-left: 0.5em;
}

h1{
	font-size: 1.5em;
	margin-top: 1.3em;
}

.titelmario {
	font-size: 4em;
	font-weight: 800;
	line-height: 0.8;
}

p {
	margin-bottom: 1.4em;
	margin-top: 1em;
	line-height: 1.5em;
}

h2 {
	font-size: 2.6em;
	font-weight: 800;
	text-align: center;
	line-height: 1em;
}

.news {
	display: flex;
	overflow-x: auto;
	width: 100%;
}

.news article {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	background-image: repeating-linear-gradient(-45deg,#302f2f,#302f2f 6px,#2a2929 0,#2a2929 12px);
	padding: 1.7em 1.7em 0em 1.7em;
	border-radius: 0.6em;
	margin: 0.5em;
	width: 16em;
	margin-bottom: 2em;
}

.news article img {
	max-width: auto;
	border-radius: 0.3em;
	margin-bottom: 1em;
}

.news article h4,h5{
	margin-bottom: 0.5em;
	line-height: 1.4em;
	font-size: 1em;
	width: 13.2em;
}

.cardswithbutton {
	margin-top: 6.4em;
}

.cardswithbutton article {
	display: flex;
	flex-direction: column;
	background-image: repeating-linear-gradient(-45deg,#302f2f,#302f2f 6px,#2a2929 0,#2a2929 12px);
	padding: 1em 1em 0em 1em;
	border-radius: 0.6em;
	text-align: center;
}

.cardswithbutton img {
	max-width: auto;
	border-radius: 0.3em;
	margin-bottom: 1em;
}

footer :nth-child(4) img {
	max-width: 4em;
}

.buttoncenter {
	margin-left: 30%;
}

.video {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 5em;
	/* margin-top: 6em; */
}

.ruimte {
	margin-bottom: 6em;
}

.video img {
	border-radius: 0.7em;
	border-style: solid;
	border-color: white;
	border-width: 0.13em;
}

.marioswitch {
	margin-top: 1em;
}

.marioswitch article {
	display: flex;
	flex-direction: column;
	background-image: repeating-linear-gradient(-45deg,#302f2f,#302f2f 6px,#2a2929 0,#2a2929 12px);
	padding: 1em 1em 0em 1em;
	border-radius: 0.6em;
	margin: 0.5em;
	margin-bottom: 1.5em;
}

.marioswitch img {
	border-radius: 0.5em;
}

.marioswitch h4 {
	margin-top: 1em;
}

.marioswitch p {
	margin-top: 0.2em;
}

/* ZORG VOOR LATER */
ul {
	display: none;
}

.zorgvoorlater {
	display: none;
}

