/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#ffffff;
	--color-background:#eee;
	--font-site:'Catamaran'
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */
@font-face {
	font-family: 'Catamaran';
	src: url('../assets/catamaran-variablefont_wght.ttf');
}

* {
	margin: 0;
}

body {
	background-image: url(../images/background.png);
	background-repeat: no-repeat;
    background-size: cover; /* De afbeelding schalen om de hele achtergrond te bedekken */
    max-width: 100%;
}

.characters {
	background-image: url(../image/pagina2/backgroundpage2.png);
	background-repeat: repeat;
    background-size: cover; /* De afbeelding schalen om de hele achtergrond te bedekken */
}



/* .characters p {
	color: black;
} */

.toad{
	background-image: url(../image/download.gif);
	background-repeat: repeat;
}

img {
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, a, button, li, label{
	color: var(--color-text);
	font-family: var(--font-site);
}

.red-banner {
	display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ac000d;
    height: 55px;
    background-color: #e60012;
    padding-left: 30px;
    padding-right: 30px;
}

.reduced-motion {
	background-image: repeating-linear-gradient(-45deg,#302f2f,#302f2f 6px,#2a2929 0,#2a2929 12px);
	display: flex;
	padding: 0.5em;
	justify-content: center;
}

.reduced-motion :first-child {
	/* background-color: transparent; */
    /* border: none; */
	font-size: 0.9em;
	font-weight: 300;
	margin-right: 0.5em;
}

/* .reduced-motion :nth-of-type(2){
	background-color: transparent;
	border-style: solid;
	border-color: white;
	border-radius: 0.4em;
	padding: 0.7em
} */

.signup a {
	font-size: 0.9em;
	font-weight: 600;
	text-decoration: none;
	background:none;
	color: white;
	margin: 0;
	padding: 0;
	border-style: none;
}

.signup img {
	max-height: 1.3em;
}

.intro {
	text-align: center;
	margin-bottom: 27.6em;
}

.intro p {
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 2em;
	line-height: 1.3em;
	font-weight: 300;
}

.white-card {
	background-image: repeating-linear-gradient(-45deg,#fff,#fff 6px,#fafafa 0,#fafafa 12px);
    border-radius: 16px;
    color: #000;
    padding: 40px 32px;
    /* margin: 16px auto 44px; */
	margin: 0em auto 44px;
    text-align: left;
	margin-left:0.5em;
	margin-right:0.5em;
}



.white-card img {
	transition: transform 0.3s ease;
	animation: popUp 1.3s ease 0.3s;
	animation-delay: 2s; 
	animation-fill-mode: forwards; /* Behoud de laatste animatiestaat na de animatie */
  }
  
  @keyframes popUp {
	0% {
	  opacity: 0;
	  transform: scale(0.5); 
	}
	50% {
	  opacity: 0.6; 
	  transform: scale(1.1);
	}
	100% {
	  opacity: 1; 
	  transform: scale(1); 
	}
  }
  

.white-card img.popUp {
animation: popUp 1.3s ease 0.3s;
}


.white-card p,h3{
	color: black;
}

header img {
	max-height: 1.5em;
}

a {
	text-decoration: none;
	background-color: white;
	color: black;
	border: white;
	border-style: solid;
	border-color: white;
	border-radius: 5em;
	padding: 0.7em 1.3em 0.7em 1.3em;
	font-weight: 800;
}

.red-button {
	text-decoration: none;
	background-color: #e60012;
	color: white;
	border: #e60012;
	border-style: solid;
	border-color: #e60012;
	border-radius: 5em;
	padding: 0.4em 1.3em 0.4em 1.3em;
	font-weight: 800;
	font-size: 0.8em;
}

.dark-button {
	text-decoration: none;
	background-color: rgb(52, 52, 53);
	color: white;
	border-style: solid;
	border-color: rgb(52, 52, 53);
	border-radius: 5em;
	padding: 0.4em 1.3em 0.4em 1.3em;
	font-weight: 800;
	font-size: 0.8em;
}

h1{
	font-size: 1.2em;
	margin-top: 2.3em;
	text-align: center;
}

.titel-mario {
	font-size: 4em;
	font-weight: 800;
	line-height: 0.8;
	margin: 0em 1em;
}

p {
	margin-bottom: 1.4em;
	margin-top: 1em;
	line-height: 1.5em;
}

h2 {
	font-size: 2.6em;
	font-weight: 800;
	text-align: center;
	line-height: 1em;
}

.news {
	display: flex;
	overflow-x: auto;
	width: 100%;
}

.news article {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	background-image: repeating-linear-gradient(-45deg,#302f2f,#302f2f 6px,#2a2929 0,#2a2929 12px);
	padding: 1.7em 1.7em 0em 1.7em;
	border-radius: 0.6em;
	margin: 0.5em;
	width: 16em;
	margin-bottom: 2em;
}

.news article img {
	max-width: auto;
	border-radius: 0.3em;
	margin-bottom: 1em;
}

.news article h4,h5{
	margin-bottom: 0.5em;
	line-height: 1.4em;
	font-size: 1em;
	width: 13.2em;
}

.cards-with-button {
	margin-top: 6.4em;
}

.cards-with-button article {
	position: relative;
	display: flex;
	flex-direction: column;
	background-image: repeating-linear-gradient(-45deg,#302f2f,#302f2f 6px,#2a2929 0,#2a2929 12px);
	padding: 15em 1em 1em 1em;
	border-radius: 0.6em;
	text-align: center;
	z-index: 1;
	margin: 0em 0.5em 5.6em 0.5em;
	align-items: center;
	opacity: 0; /* Start met een onzichtbaarheid */
  	transform: translateY(150%); /* Begin onderaan het scherm */
  	transition: opacity 0.5s ease, transform 1s ease;
}

.cards-with-button article.slideUp {
	opacity: 1; /* Laat de artikelen verschijnen */
	transform: translateY(0); /* Verschuif ze omhoog */
  }

.cards-with-button img {
	max-width: 21em;
	border-radius: 0.3em;
	z-index: 2;
	position: absolute;
	transform: translateY(-18em);
}

.cards-with-button :nth-of-type(2) img {
	max-width: 17em;
	transform: translateY(-21em);
}

.cards-with-button :nth-of-type(3) img {
	max-width: 19em;
	transform: translateY(-20.5em);
}

.cards-with-button :nth-of-type(4) img {
	max-width: 17em;
	transform: translateY(-20.5em);
}

.cards-with-button a {
	background-color: #ffdf02;
	color: black;
	border-style: solid;
	border-color: #ffdf02;
	margin-bottom: 1em;
}

.cards-with-button p {
	margin-bottom: 1em
}

.button-center, .scroll-trigger {
	margin-left: 30%;
}

.video {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 5em;
	/* margin-top: 6em; */
}

.space {
	margin-bottom: 6em;
}

.video img {
	border-radius: 0.7em;
	border-style: solid;
	border-color: white;
	border-width: 0.13em;
}

.mario-switch {
	margin-top: 1em;
}

.mario-switch article {
	display: flex;
	flex-direction: column;
	background-image: repeating-linear-gradient(-45deg,#302f2f,#302f2f 6px,#2a2929 0,#2a2929 12px);
	padding: 1em 1em 0em 1em;
	border-radius: 0.6em;
	margin: 0.5em;
	margin-bottom: 1.5em;
}

.mario-switch img {
	border-radius: 0.5em;
}

.mario-switch h4 {
	margin-top: 1em;
}

.mario-switch p {
	margin-top: 0.2em;
}

footer{
	display: flex;
	flex-direction: column;
    margin-top: 10em; 
	align-items: center; 
	text-align: center;
}

footer p {
	margin:0 0.5em;
	font-size: 0.7em;
	line-height: 1.6em;
	font-weight: 300;
	color: white;
}

footer ul {
	list-style: none;
	padding: 0;
	font-size: 0.7em;
	margin: 2em
}

footer ul li{
	border: none;
	border-style: none;
}

footer a:nth-of-type(1){
    background-color: #ce0010;
	color: white;
    padding: 0.8em 2em 0.8em 2em;
    text-decoration: none;   
    border-radius: 0.6em;
    display: flex;
    justify-content: center;
    margin: 0em 4em 0em 4em;
}

footer p:last-of-type{
	margin-bottom: 4em;
}

footer h5{
   margin: 0;
   width: auto;
   margin-top: 3em;
}

footer img {
    margin: 0.5em;
    width: 3em;
    border-radius: 0.4em;
	border-color: white;
	border-style: solid;
}

footer div:nth-child(4) img{
	height: 6em;
	width: 100%;
	border-radius: 0;
}

footer div:nth-child(4) {
	display: flex;
	margin-top: 1em;
}

/* ZORG VOOR LATER */

.zorgvoorlater {
	display: none;
}

.scroll {
	display: flex;
	overflow-x: auto;
	margin-bottom: 25em;
}

.scroll article {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 0.6em;
	margin: 0.5em;
	margin-bottom: 2em;
	background-image: url(../image/pagina2/mariobackground.gif);
}



.scroll :nth-of-type(1) h3 {
	color: white;
}

.scroll :nth-of-type(2) {
	background-image: url(../image/pagina2/luigibackground.gif);
}

.scroll :nth-of-type(3) {
	background-image: url(../image/pagina2/peachbackground.gif);
}

.scroll :nth-of-type(4) {
	background-image: url(../image/pagina2/toadbackground.gif);
}

.scroll :nth-of-type(4) h3 {
	color: white;
}

.scroll :nth-of-type(5) {
	background-image: url(../image/pagina2/bowserbackground.gif);
}

.scroll :nth-of-type(6) {
	background-image: url(../image/pagina2/yoshibackground.gif);
}

.scroll :nth-of-type(7) {
	background-image: url(../image/pagina2/daisybackground.gif);
}

.scroll :nth-of-type(8) {
	background-image: url(../image/pagina2/wariobackground.gif);
}

.scroll :nth-of-type(9) {
	background-image: url(../image/pagina2/waluigibackground.gif);
}

.scroll :nth-of-type(9) h3 {
	color: white;
}

.scroll :nth-of-type(10) {
	background-image: url(../image/pagina2/rosalinabackground.gif);
}

.scroll :nth-of-type(11) {
	background-image: url(../image/pagina2/bowserjrbackground.gif);
}

.scroll :nth-of-type(12) {
	background-image: url(../image/pagina2/boobackground.gif);
}

.scroll :nth-of-type(13) {
	background-image: url(../image/pagina2/donkeykongbackground.gif);
}

.scroll :nth-of-type(13) h3 {
	color: white;
}

.scroll :nth-of-type(14) {
	background-image: url(../image/pagina2/diddykongbackground.gif);
}

.scroll :nth-of-type(14) h3 {
	color: white;
}

.scroll :nth-of-type(2),
.scroll :nth-of-type(3),
.scroll :nth-of-type(4),
.scroll :nth-of-type(5),
.scroll :nth-of-type(6),
.scroll :nth-of-type(7),
.scroll :nth-of-type(8),
.scroll :nth-of-type(9),
.scroll :nth-of-type(10),
.scroll :nth-of-type(11),
.scroll :nth-of-type(12),
.scroll :nth-of-type(13),
.scroll :nth-of-type(14),
.test {
  /* background-image: url(../image/pagina2/luigibackground.gif); */
  animation: slideBackground 10s linear infinite; /* Verander 10s naar de gewenste animatieduur */
}

@keyframes slideBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}


.scroll article img {
	max-width: 15em;
	border-radius: 0.3em;
	transform: translateY(0.55em);
}

.scroll h3 {
	font-size: 1.4em;
	margin-left: 0.5em;
	margin-top: 0.1em;
	font-weight: 750;
}

.scroll a {
	background-color: transparent;
	border: none;
	padding: 0;
	margin: 0;
}

/* .characters h1, p {
	color: black;
	text-align: center;
} */

.characters h1 {
	font-size: 3em;
	margin: 1em 0em 0em 0em;
	color: black;
}

.characters p {
	margin: 0em 0.5em 1em 0.5em;
	color: black;
	text-align: center;
}

nav {
	background-image: repeating-linear-gradient(-45deg,#302f2f,#302f2f 6px,#2a2929 0,#2a2929 12px);
}

nav button {
	background-color: transparent;
	border: none;
	max-width: 2.5em;
	margin: 1em;
}

nav a {
	text-decoration: none;
	background-color: transparent;
	border-color: transparent;
	color: white;
}

nav ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0;
}

nav li {
	margin: 1.2em;
}

.mario-nav {
	margin: 1.9em 4.8em 0em;
	transform: translateY(100%);
	transition: transform 0.3s ease;
}

@keyframes slideFromBottom {
	from {
	  transform: translateY(100%);
	}
	to {
	  transform: translateY(0);
	}
  }
  
  .mario-nav.slideFromBottom {
	animation: slideFromBottom 1.3s ease 0.3s forwards;
  }


.active {
	border: white;
	border-style: solid;
	border-radius: 0.6em;
	padding: 0.8em 2em;
}


.menu-button {
	background-image: repeating-linear-gradient(-45deg,#302f2f,#302f2f 6px,#2a2929 0,#2a2929 12px);
	border-color:white;
	border: white;
	border-style: solid;
	border-radius: 0.6em;
	padding: 0.4em 1.2em;
	font-size: 1.1em;
	font-weight: 700;
	letter-spacing: 1px;
	margin: 0.5em;
	position: absolute;
}

.character-detail {
	display: flex;
	flex-direction: column;
	margin-top: 2em;
}

.character-detail h2 {
	color: black;
	margin-bottom: 0.2em;
	width: auto;
}

.character-detail h5 {
	color: black;
	margin-bottom: 0.2em;
	width: auto;
}

.character-detail h5 {
	margin-right: 1em;
}

.character-detail article img {
	max-width: 1.5em;
	margin-right: 0.3em;
}

.character-detail article div {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 1.5em;
}

.character-detail article div button{
	background-color:#302f2f;
	border: none;
	margin:0.3em;
	border-radius: 10em;
	padding: 0.5em 1.1em;
}

.button-sides {
	display: flex;
	position: absolute;
	margin-top: 7em;
}

.button-sides img{
	max-width: 1.2em;
}

.button-sides button {
	background-color:#302f2f;
	border: none;
	padding: 1.8em 2em;
}

.button-sides button:first-of-type{
	margin-right: 17.75em;
}

.button-sides :first-child {
	border-radius: 0em 3em 3em 0em;
}

.button-sides :last-child {
	border-radius: 3em 0em 0em 3em;
}

.hidden {
	display: none;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Zorg ervoor dat het loading screen bovenaan ligt */
}

#loading-screen img {
    width: 100%; 
	height: 100%;/* Pas de grootte van het GIF-afbeeldingselement aan */
}

.character-sound {
	background-image: repeating-linear-gradient(-45deg,#302f2f,#302f2f 6px,#2a2929 0,#2a2929 12px);
	border-color:white;
	border: white;
	border-style: solid;
	border-radius: 0.6em;
	padding: 0.4em 1.2em;
	font-weight: 700;
	font-size: 0.7em;
	margin: 1.5em 0.5em;
	position: absolute;
	right: 0;
}

@media (prefers-reduced-motion) {
	* {
        transition: none !important;
        animation: none !important;
    }
}

.reduced-motion-active * {
    transition: none !important;
    animation: none !important;
}